@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 500px) {
  .md:flex-wrap {
    flex-direction: column;
  }
}

body {
  line-height: 1.7rem;
  --tw-bg-opacity: 1;
  background-color: white;
  color: rgb(31 41 55));
}

.content-style a {
  color: #0ea5e9;
  text-decoration: none;
}

.content-style h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  margin: 2.0rem 0;
  padding: 1.25rem;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  border-radius: 0.375rem;
}

.content-style h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 2.0rem 0;
  padding: 0.5rem;
  border-bottom: 2px solid rgb(31 41 55 / var(--tw-bg-opacity));
}

.content-style h4 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 2.0rem 0;
  padding: 0.5rem;
  border-bottom: 2px dashed rgb(31 41 55 / var(--tw-bg-opacity));
  text-align: center;
}

@layer utilities {
  .bg-red-underMarker {
    background: linear-gradient(transparent 60%, rgb(254 202 202) 60%);
  }
  .bg-green-underMarker {
    background: linear-gradient(transparent 60%, rgb(187 247 208) 60%);
  }
  .bg-orange-underMarker {
    background: linear-gradient(transparent 60%, rgb(254 215 170) 60%);
  }
  .bg-yellow-underMarker {
    background: linear-gradient(transparent 60%, rgb(254 240 138) 60%);
  }
}