@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 500px) {
  .md:flex-wrap {
    flex-direction: column;
  }
}

body {
  line-height: 1.7rem;
  --tw-bg-opacity: 1;
  background-color: white;
  color: rgb(31 41 55));
}

/* table関係のタグが「mdx-components.tsx」で反映されないのでこちらで記載 */

table {
  border: 1px solid #374151;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #374151;
  padding: 8px;
}

th {
  background-color: #e8e9ea;
}

@layer utilities {
  .bg-red-underMarker {
    background: linear-gradient(transparent 60%, rgb(254 202 202) 60%);
  }
  .bg-green-underMarker {
    background: linear-gradient(transparent 60%, rgb(187 247 208) 60%);
  }
  .bg-orange-underMarker {
    background: linear-gradient(transparent 60%, rgb(254 215 170) 60%);
  }
  .bg-yellow-underMarker {
    background: linear-gradient(transparent 60%, rgb(254 240 138) 60%);
  }
}