@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 500px) {
  .md:flex-wrap {
    flex-direction: column;
  }
}

body {
  line-height: 1.7rem;
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 241 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.content p {
  margin-bottom: 1.4rem;
}

.content a {
  color: rgb(3 105 161 / var(--tw-text-opacity));
}

.content h2 {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #1f2937;
  border-radius: 0.25rem;
}

.content h3 {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.5rem;
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
  border-bottom-width: 2px;
  border-bottom-color: #4a5568;
}